<ion-view view-title="商品管理">
  <div class="bar bar-subheader no-padding" style="display:block;">
    <div class="list no-margin-bottom">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="请输入商品名称，拼音，数字" style="width:100%;">
        </label>
        <button class="button button-small">
            Submit
        </button>
      </div>
    </div>
    <div class="list no-margin-bottom">
      <div class="item item-button-right">
        总正库存 {{products.length}} 件，总成本 413.00 元
        <div class="buttons">
          <button class="button button-clear button-energized ion-ios-bell" ng-click="editCategory()">
          </button>
          <button class="button button-clear button-energized ion-android-add" ng-click="removeCategory()">
          </button>
        </div>
      </div>
    </div>
  </div>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ui-sref="app.category">分类</a>
  </ion-nav-buttons>
  <ion-content class="has-header has-subheader" style="top:153px;">
    <div class="list">
      <a class="item item-thumbnail-left item-button-right" ng-repeat="item in products">
        <img ng-click="showActionSheet()" ng-src="{{ item.image[0] || 'views/product/img/c_goodspicture.png' }}">
        <div>
          <p>{{item.name}}</p>
          <p class="energized">￥{{item.price}}</p>
          <p>库存：{{item.stock}}件</p>
        </div>
        <div class="buttons">
          <button class="button button-clear button-energized ion-android-share-alt button-with-border-radius" ng-click="editCategory()">
          </button>
        </div>
      </a>
    </div>
    <ion-infinite-scroll>

    </ion-infinite-scroll>
  </ion-content>
</ion-view>
