<ion-view view-title="店铺设置">
  <ion-content class="stable-bg has-header has-footer" scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" placeholder="请输入旧密码" ng-model="model.op">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" placeholder="请输入新密码" ng-model="model.p">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="再次输入新密码" ng-model="model.cp">
      </label>
    </div>
    <div class="row">
      <button class="button button-block button-energized" ng-click="save()">保存</button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable no-bg">
    <h6 class="title">©2010-2017 生意专家</h6>
  </div>
</ion-view>
