<ion-view view-title="修改密码">
  <ion-content class="stable-bg has-header" scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" placeholder="请输入旧密码" ng-model="model.op">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" placeholder="请输入新密码" ng-model="model.p">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="再次输入新密码" ng-model="model.cp">
      </label>
    </div>
    <div class="row">
      <button class="button button-block button-energized" ng-click="save()">保存</button>
    </div>
  </ion-content>
  <company-directive></company-directive>
</ion-view>
