<ion-view view-title="修改{{title}}">
  <ion-content class="stable-bg has-footer" scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="{{title}}" ng-model="inputValue">
      </label>
    </div>
    <div class="row">
      <button class="button button-block button-energized" ng-click="save()">保存</button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable no-bg">
    <h6 class="title">©2010-2017 生意专家</h6>
  </div>
</ion-view>
